* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.ryan_logo {
  display: flex;
  width: 80%;
}

.ryan_logo a {
  font-family: Muli, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #f26b38;
}

.ryan_logo a:hover {
  opacity: 50%;
}

.nav_work {
  width: 10%;
  display: flex;
  justify-content: center;
}

.nav_work a {
  font-family: Muli, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #f26b38;
  letter-spacing: 1px;
}

.nav_work a:hover {
  opacity: 50%;
}

.nav_about {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.nav_about a {
  margin-right: 0px;
  font-family: Muli, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #f26b38;
  letter-spacing: 1px;
}

.nav_about a:hover {
  opacity: 50%;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 16rem;
}

.intro_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
}

.intro_title {
  font-family: Muli, sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1rem;
}

.intro_tagline {
  margin-top: 2rem;
  color: #616161;
  font-family: "Muli", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  white-space: normal;
}

.intro_text a {
  padding-top: 4rem;
  text-decoration: none;
  color: #f26b38;
  font-family: Muli, sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

.intro_text a:hover {
  text-decoration: none;
  opacity: 50%;
}

.intro .about_image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
}

.intro .about_image img {
  width: 95%;
  height: auto;
}

.socials_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 8rem;
}

.socials_container .dribbble,
.socials_container .twitter,
.socials_container .linkedin,
.socials_container .medium {
  width: 10%;
  height: auto;
}

.socials_container .dribbble_icon {
  width: 100%;
  height: auto;
  content: url(../images/dribble_dark.png);
}

.socials_container .dribbble_icon:hover {
  content: url(../images/dribble-lite.png);
}

.socials_container .twitter_icon {
  width: 100%;
  height: auto;
  content: url(../images/twitter_dark.png);
}

.socials_container .twitter_icon:hover {
  content: url(../images/twitter-lite.png);
}

.socials_container .linkedin_icon {
  width: 100%;
  height: auto;
  content: url(../images/linkedin_dark.png);
}

.socials_container .linkedin_icon:hover {
  content: url(../images/linkedin-lite.png);
}

.socials_container .medium_icon {
  width: 100%;
  height: auto;
  content: url(../images/medium-dark.png);
}

.socials_container .medium_icon:hover {
  content: url(../images/medium-lite.png);
}

.story_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  margin-top: 12.8rem;
  overflow: hidden;
}

.story_container .my_story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.story_container .my_story .story_title {
  font-family: Muli, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin: 0;
}

.story_container .my_story .story_body {
  margin-top: 2.4rem;
  font-family: Muli, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #616161;
  line-height: 3.2rem;
}

.story_container .my_story .story_body strong {
  margin-top: 2.4rem;
  font-family: Muli, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #616161;
  line-height: 3.2rem;
}

.story_container .story_stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 12.8rem;
}

.story_container .story_stuff .stuff_title {
  margin: 0;
  font-family: Muli, sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: #000000
  width: 100%;
}

.story_container .story_stuff .stuff_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.story_container .story_stuff .stuff_box {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: auto;
}

.story_container .story_stuff .stuff_box .stuff_box_text {
  font-family: Muli, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #616161;
}

.story_container .story_stuff .stuff_box img {
  width: 100%;
  height: auto;
}

.contact_container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.contact_container .contact_tagline {
  margin: 0;
  font-family: Muli, sans-serif;
  font-size: 2.4rem;
  color: #616161;
  font-weight: 400;
}

.contact_container a {
  margin: 2rem 0 0 0;
  font-family: Muli, sans-serif;
  font-size: 2.75rem;
  color: #f26b38;
  font-weight: 700;
  text-decoration: none;
}

.contact_container a:hover {
  text-decoration: none;
  opacity: 50%;
}

.footer_container {
  margin: 12rem 0 2rem 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer_container .footer_copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  font-family: Muli, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.footer_container .footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.footer_container .footer_links .footer_links_list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_container .footer_links .footer_links_list li {
  font-family: Muli, sans-serif;
  font-size: 1.5rem;
}

.footer_container .footer_links .footer_links_list a {
  text-decoration: none;
  color: #f26b38;
}

.footer_container .footer_links .footer_links_list a:hover {
  text-decoration: none;
  opacity: 50%;
}
