* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.ryan_logo {
  display: flex;
  width: 80%;
}

.ryan_logo a {
  font-family: Muli, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #f26b38;
}

.ryan_logo a:hover {
  opacity: 50%;
}

.nav_work {
  width: 10%;
  display: flex;
  justify-content: center;
}

.nav_work a {
  font-family: Muli, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #f26b38;
  letter-spacing: 1px;
}

.nav_work a:hover {
  opacity: 50%;
}

.nav_about {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.nav_about a {
  margin-right: 0px;
  font-family: Muli, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #f26b38;
  letter-spacing: 1px;
}

.nav_about a:hover {
  opacity: 50%;
}

.resume_container {
  width: 60%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.resume_container img {
  width: 100%;
  height: auto;
}

.footer_container {
  margin: 12rem 0 2rem 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer_container .footer_copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  font-family: Muli, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.footer_container .footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.footer_container .footer_links .footer_links_list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_container .footer_links .footer_links_list li {
  font-family: Muli, sans-serif;
  font-size: 1.5rem;
}

.footer_container .footer_links .footer_links_list a {
  text-decoration: none;
  color: #f26b38;
}

.footer_container .footer_links .footer_links_list a:hover {
  text-decoration: none;
  opacity: 50%;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .nav_list {
    width: 100%;
  }

  .ryan_logo {
    width: 70%;
  }

  .nav_work {
    width: 10%;
  }

  .nav_about {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .resume_container {
    width: 95%;
  }

  .footer_container {
    width: 90%;
  }
}
